.mainLayout {
  .navContainer {
    max-width: 1170px;
    margin: 1.25rem auto;
  }
  .main {
    // max-width: 1170px;
    margin: 0 auto;
           max-width: 1170px;
padding-inline: 1rem;
   
  }
}
