.container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 24px;
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.05)
    );
    border-radius: 30px;
    opacity: 0.25;
  }
}
