.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 20px;
  @media(max-width: 750px) {
    > div {
      width: 100% !important;
    }
    > .personal-card {
      position: unset !important;
      img {
        width: 70% !important;
      }
    }
  }
  .personal-card {
    width: 370px;
    text-align: center;
    height: fit-content;
    position: sticky;
    top: 10%;
@media(max-width: 900px) {
  width: 300px;
}
    > div {
      width: 100%;

      .image {
        background: linear-gradient(
          90deg,
          #3c58e3 -15%,
          #c2ebff 58%,
          #5ab5e2 97%
        );
        border-radius: 30px;
        margin-bottom: 40px;
        > img {
          width: 100%;
        }
      }
      > h2 {
        color: #ffffff;
        font-weight: 500;
        font-size: 26px;
        margin-bottom: 0.5rem;
      }
      > p {
        color: #bcbcbc;
        opacity: 0.5;
        font-size: 16px;
        margin-bottom: 34px;
      }
      > button {
        background-color: #323232;
        color: white;
        border-radius: 10px;
        font-size: 16px;
        width: 100%;
        font-weight: 500;
        padding: 12px 30px;
        border: none;
        transition: 0.3s;
        position: relative;
        z-index: 100;
        &:hover {
          background-color: #fff;
          color: #323232;
          cursor: pointer;
        }
      }
      > ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        width: 100%;
        align-items: center;
        justify-content: center;

        margin-bottom: 36px;
        a {
          color: #bcbcbc;
        }
        svg {
          width: 20px;
          height: 20px;
        }
        > li {
          div {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            border-radius: 50%;
            transition: ease-in-out 0.3s;
            &:hover {
              z-index: 1000;
              background-color: #fff;
              cursor: pointer;
              > svg {
                fill: #0f0f0f;
              }
            }
            &::before {
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  .info {
    flex-basis: calc(60%);
    @media(max-width: 1000px) {
      flex-basis: calc(50%);
    }
    @media(max-width: 750px) {
  flex-basis: calc(100%);
  margin-top: 2rem;
  }
    .about-me {
      padding-bottom: 110px;
      > h2 {
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 37px;
        
      }
      > p {
        font-size: 16px;
        color: #fff;
        opacity: 0.8;
        line-height: 1.56;
        &:nth-of-type(1) {
          margin-bottom: 30px;
        }
      }
    }
    .skills-container {
      > h2 {
        color: #ffffff;
        font-weight: 500;
        font-size: 26px;
        margin-bottom: 22px;
      }
      .skills {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;
        > div {
          width: 50%;
          > span {
            color: #bcbcbc;
            opacity: 0.6;
            display: block;
            font-weight: 500;
            margin-bottom: 9px;
          }
          > h3 {
            color: #ffffff;
            opacity: 0.9;
            font-size: 18px;
            margin-bottom: 4px;
          }
          > p {
            color: #bcbcbc;
            opacity: 0.6;
            font-size: 14px;
            margin: 0;
          }
        }
      }
    }
    .experience,
    .education {
      margin-bottom: 85px;
      > h2 {
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 22px;
      }
      > div {
        &:not(:nth-of-type(1)) {
          margin-top: 58px;
        }
        > h4 {
          color: #bcbcbc;
          opacity: 0.6;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0.5rem;
        }
        > h3 {
          color: #5b78f6;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 0.5rem;
        }
        > h5 {
          font-size: 14px;
          color: #bcbcbc;
          opacity: 0.6;
          font-weight: 400;
          margin-bottom: 0.5rem;
        }
        > p {
          margin: 0;
          font-size: 16px;
          color: #ffffff;
          opacity: 0.8;
          line-height: 1.56;
        }
      }
    }
  }
}
